/* ===================== */
/* GLOBAL */
/* ===================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9fafb;
    color: #333;
}

/* ===================== */
/* NAVBAR */
/* ===================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4f46e5;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links .btn {
    background-color: #4f46e5;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
/* ===================== */
/* HERO */
/* ===================== */

.hero { 
    padding: 4rem 2rem;
    text-align: center;
    background-color: #eef2ff;
}

.hero h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 1.5rem;
}

.hero button {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #4f46e5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* ===================== */
/* FEATURES */
/* ===================== */

.features {
    display: flex;
    gap: 2rem;
    padding: 3rem 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-card {
    background: white;
    width: 280px;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.feature-card h3 {
    margin-bottom: 1rem;
    color: #4f46e5;
}

/* ===================== */
/*FOOTER */
/* ===================== */

footer { 
    text-align: center;
    padding: 1rem;
    background-color: #111827;
    color: white;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

@media (max-width: 768px) {

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .feature-card {
        width: 90%;
    }
    
}
